#root{
    margin:0 auto;
    width: 550px;
}

.shopping-cart{
    width: 600px;
    margin: 0 auto;
}

.shopping-item table{
    width:100%;
}

.shopping-item table th{
    text-align:left;
    padding:5px;
    background-color: #2196f3;
    color: #fff;
}

.shopping-item table td{
    border: 1px solid #ccc;
    padding: 5px;
}

.topNav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #333;
    color: #fff;
}

.topNav li{
    display:inline-block;
    width:150px;
    padding: 10px;
    cursor: pointer;
    border:1px solid #333;
}

.topNav li:hover,
.topNav li.selected{
    background: #fff;
    color: #333;
    border:1px solid #333;
}